/*site ao todo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/*estilo cabeçlho com banner*/
html{
    background-color: #ffffff;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #213c8d;
}
header.rolagem a:hover, header.rolagem:hover{
    color: #fdc7ac;
}

header i{
    font-size: 30px;
    color: #fff;
}
header i:hover{
    color: #fdc7ac;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
}

header ul li a:hover{
    color: #fdc7ac;
      
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #213c8d;
    color: #fff;
    cursor: pointer;
    transition: 2s;
}

.btn-contato button:hover{
    background-color: #fdc7ac;
}

.banner{
    height: 100vh;
    background-image: url(../images/banner.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    font-size: 4em;
}

.banner h1 span{
    color: #fdc7ac;
}

/*icone de menu*/
.menu-icon{
    display: none;
    position: relative;
    z-index: 10;
}

.titulo{
    margin-top: 15px;
    font-size: 30px;
    color: #213c8d;
    padding: 10px;
    text-align: center;
    margin: 15px;
}

/*section texto container*/
.textoMain .containerTexto{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}
.textoMain .texto_container{
    width: 100%;
    padding: 15px;
    margin: 30px 150px auto; 
    font-size: 20px;
    text-align: start;

}
.textoMain .texto_container span{
    color: #213c8d;
    font-size: 21px;
    font-weight: bold;
}
.textoMain img{
    width: 65%;
    margin-left: 20%;
}

/*section diferenciais*/
.diferenciais .container{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

}

.diferenciais .card{
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
}

.diferenciais .card:hover{
    box-shadow: 0px 10px 67px 8px #e6e6fa85; 
}

.diferenciais .card img{
    width: 60px;
}

.diferenciais .card .titulo{
    margin: 13px 0;
    font-weight: 600;
}

.diferenciais .titulo h3{
    margin-top: 20px;
}


/*section depoimento*/
.depoimentoMain h3{
    text-align: center;
}

.depoimentoMain p{
    margin-bottom: 20px;
    text-align: center;
}

.depoimentoMain .cards{
    display: flex;
    justify-content: center;
    
}

.depoimentoMain .cards-item{
    background-color: #d7f0ff;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}

.depoimentoMain .cards-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
    
}

.depoimentoMain .cards-item .nome-usuario{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.depoimentoMain .cards-item .depoimento-user{
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.depoimentoMain .cards-item .estrelas{
    margin: 15px 0;
    border-top: 2px solid #71767a23;   
}

.depoimentoMain .cards-item .estrelas i{
    color: #213c8d;
    margin-top: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.depoimentoMain .cards-item:hover{
    background-color: #3857b7;
    margin-top: -5px;
}

.depoimentoMain .cards-item:hover .nome-usuario,
.depoimentoMain .cards-item:hover .depoimento-user,
.depoimentoMain .cards-item:hover .estrelas i{
    color: #fff;

}

/*sessão de perguntas frequentes*/
.faq-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-inline: auto;
    max-width: 850px;
    padding-bottom: 20px;
    width: 100%;
   
}

.faq-question{
    background-color: #d7f0ff;
    border-radius: 8px;
    padding: 14px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
  

}
.faq-question:hover{
    background-color: #3857b7;
    margin-top: -5px;
    color: #fff;
    fill: #fff;
}
.faq-question:active {
    opacity: 0.9;
}
.faq-question > div{
    display: flex;
    justify-content: space-between;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    width:30px;
}
button svg{
    width: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.faq-resposta{
    display: none;
    transition: all 0.2s ease-in-out;
}
.faq-question.active .faq-resposta{
    animation: fadeIn 0.3s;
    display: block;
}

/*carrousel ambiente*/

.carrousel-consultorio{
    max-width: 1200px;
    position: relative;
    margin-inline: auto;
   
}
.carrousel-consultorio i{
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background: #d7f0ff;
    border-radius: 50%;
    margin-left: -20px;
    
}
.carrousel-consultorio i:first-child{
    left: -23px;
    display: none;
}
.carrousel-consultorio i:last-child{
    right: -23px;
    
}

.carrousel-consultorio .carrousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    
}
.carrousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carrousel.dragging img{
    pointer-events: none;
}
.carrousel img{
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
    
}
.carrousel img:first-child{
    margin-left: 0px;
}
/*validação contato*/
.input-error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

/*footer*/

footer{
    background-color: #437493;
    margin-top: 5%;
    padding: 0;
    
}
footer .container{
    display: flex;
    color: #fff;
    justify-content:space-between;
  
}
footer .container ul{
    width: 25%;
    margin-top: 10px;
}
footer .container h3{
    margin-bottom: 16px;
    font-weight: 600;
   
}
footer .container .redes-sociais a{
    margin-left: 10px;
    font-size: 30px;
    color: #ccc;
}
footer .container .redes-sociais a:hover{
    
    font-size: 32px;
    color: #fff;
}
footer .container ul > p{
    margin-bottom: 40px;
}
footer .container li{
    margin: 10px 0;
    list-style-type: none
}
footer .container a{
    color: #fff;
    text-decoration: none;
}
footer h5{
    color: #d7f0ff;
}
footer h5 span{
    color: #08298d;
    font-size: 15px;
}

/*responsivo*/
@media (max-width: 960px){
    .menu-icon{
        display: inline-block;
    }
    .banner{
        height: 100vh;
        background-image: url(../images/banner.jpg);
        background-position: 100% 0;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ul {
        position: fixed;
        background-color: #213c8d;
       
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        
        justify-content: center;

    }
    .ul li{
        font-size: 20px;
        margin: 20px 0;
    }
    .btn-contato button{
        width: 120px;
        height: 40px;
        border: 0;
        background-color: #8da4e9;
        color: #fff;
        cursor: pointer;
        transition: 2s;
    }
    .ul.ativo{
        left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        

    }
    .diferenciais .container{
        flex-direction: column;
    }
    .diferenciais .card{
        width: 100%;
    }
    .textoMain .texto_container{
    width: 100%;
    margin: 15px ; 
    font-size: 20px;
    text-align: center;
    }
    .banner{
        font-size: 10px;
        text-align: center;
    }
    .textoMain img{
        display: flex;
        width: 65%;
        flex-direction: column;
    }
    .depoimentoMain .cards{
        flex-direction: column;
        align-items: center;
    }
    .depoimentoMain .cards{
        width: 100%;
    }
    .containerTexto{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .faq-question{
        margin: 0px 23px 0 23px;
    
    }
    .carrousel img{
        width: calc(100% / 2);
    }
    footer .container{
        flex-direction: column;
      
    
    }
    footer .container .ul{
        width: 100%;
        margin-bottom: 30px;
    }
    footer .container ion-icon{
        font-size: 25px;
    }
}
@media (max-width: 550px){
    .carrousel img{
        width: 100%;
    }
}